.blog {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-content: center;
    text-align: center;
    border-radius: 10px;
    border: 1px solid black;
    gap: 20px;
    width: 200px;
}

.blogImage {
    width: 150px;
    margin: 0 auto;
    border-radius: 10px;
    cursor: pointer;
}

.description {
    text-transform: lowercase;
}
